*{
    margin: 0;
    padding: 0;
    color: rgb(252, 250, 245);
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 103%;
}

@font-face {
    font-family: madelyn;
    src: url("./fonts/madelyn.woff") format("woff");
}
/********************************** H E A D E R **********************************/
.div-menu{
    background-color:rgba(144, 144, 123, .8);
    padding: 25px;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    display: flex;
}

.div-menu h1{    
    font-size: 400%;
}

/********************************** B O D Y **********************************/

body .wrapper{
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.img-promo{
    flex: .1;
}

.upper-body{
    flex: 5;
}

body{
    background-image: url(./images/fondo2a.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;    
    width: 100%;
    height: 100%;
}

.upper-body{
    margin-top: 80px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.upper-body h1{
    font-size: 160%;
}

.upper-body p{
    font-size: 90%;
    text-align: justify;
    padding: 20px;
}

.slogan{
    font-family: madelyn;
    color: rgb(255, 238, 0);
    font-size: 120%;
}

.special{
    font-family: 'Allison', cursive;
    color: rgb(255, 238, 0);
    font-size: 100%;
}

/********************************** B O D Y 2 **********************************/

body .wrapper2{
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.lower-body-img{
    align-self: center;    
}

.lower-body{

    padding: 20px;
}

.lower-body-img img{
    max-height: 300px;
}

.lower-body h2{
    font-size: 200%;
    padding-bottom: 15px;
}

.lower-body p{
    font-size: 90%;
    text-align: justify;
    padding: 10px;
}

body .wrapper3{
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/********************************** S L I D E S H O W **********************************/

.cycle-slideshow {
    box-sizing: border-box; 
}

.cycle-slideshow img{
    margin-top: 150px;
    height: 250px;
}

.cycle-prev, .cycle-next {
    color: blanchedalmond;
    position: absolute;
    top: 65%;
    display: block;
    z-index: 1000;
    opacity: 0;
    transition: opacity .5s;
    font-size: 20px;
}

.cycle-next {
    right: 0;
}

.cycle-slideshow:hover .cycle-prev, 
.cycle-slideshow:hover .cycle-next {
    opacity: 1;
}

/********************************** H R **********************************/
hr { 
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
}

/********************************** F O O T E R **********************************/

footer{
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: blanchedalmond;
}

footer a, footer p{
    padding: 5px;
    font-size: 90%;
}

footer .col1, .col2{
    flex: 1;
    padding: 5px;
}

.compra{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: blanchedalmond;
}
/********************************** M A P **********************************/

.mapa{
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.map {
    margin-top: 20px;
    border-color: rgb(117, 17, 17);
    border-style: solid;
    border-width: 3px;
}

/********************************** S O C I A L   B A R  **********************************/
  
.social-bar {
	position: fixed;
	left: 0;
	top: 250px;
    z-index: 2000;
    font-size: 100%;
    display: inline-block;
}

.social-bar ul li{
    list-style: none;
    padding: 10px;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .8rem;
	-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.icon-facebook {
	background: #2E406E;
}
.icon-twitter {
	background: #339DC5;
}
.icon-youtube {
	background: #E83028;
}
.icon-instagram {
	background: #3F60A5;
}
.icon-whatsapp {
    background: rgb(13, 196, 22);
}
.icon:first-child {
	border-radius: 0 1rem 1rem 0;
}
.icon:last-child {
	border-radius: 0 .5rem .5rem 0;
}
.icon:hover {
	padding-right: 3rem;
	border-radius: 0 .5rem .5rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/************************************* M E D I A   Q U E R Y *************************************/

@media only screen and (max-width: 600px) {
  
    html{
        font-size: 65%;
        width:400px;
    }
    
    .div-menu{
        display: block; 
    }

    .div-menu h1{    
        font-size: 180%;
    }

    .cycle-slideshow{
        visibility: hidden;
    }
    .cycle-slideshow img{
        visibility: hidden;
    }

    body .wrapper{
        top: -540;
        position:relative;
        display: block;
        left: -60px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .upper-body h1{
        width: 30%;
        font-size: 160%;
    }

    .upper-body p{
        width: 25%;
    }

    /*************************/
    body .wrapper2{
        top: -550;
        position:relative;
        display: block;
        left: -10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .lower-body-img img{
        position:relative;
        left: 70px;
    }

      /*************************/

      body .wrapper3{
        text-align: justify;
        top: -550;
        position:relative;
        display: block;
        left: -10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

   .mapa {
    visibility: hidden;
    }

    hr{
        visibility: hidden;
    }
    
    .ruler{
        visibility: visible;
        position:relative;
        display: block;
        left: -15px;
        top: -500;
        width: 70%;
    }
    
    footer {
        margin-top: -1050;
        position:relative;
        display: block;
        font-size: 70%;
        text-align: center;
    }

    .compra{
        font-size: 70%;
        text-align: center;
    }
    /*************************/
    .social-bar {
        visibility: hidden;
    }
}
